body {
    background-color: #fef1f1;
    background-image: url("/static/img/banner.svg");
    background-position: top center;
    background-repeat: no-repeat;
}
.gallery {
    background-image: url("/static/img/lights.svg");
    background-position: top left;
    background-repeat: repeat-x;
}
.gallery-header {
    padding-top: 5vh;
}

.banner {
    position: absolute;
    top: 0;
    margin-bottom: 15em;
}

.burst-pic {}

#burst-pane {
    margin-top: 7%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.photo-timer {
    top: 5%;
    left: 40%;
    font-size: 70vh;
    text-align: center;
    position: fixed;
    z-index: 11;
}

.button-control {
    margin-top: 2.2vh;
    width: 50%;
}

.btn {
    font-family: 'Grand Hotel', cursive;
    font-size: 6em;
}
.page-header {
    border-bottom: none;
    color: #3b3b3b;
}
.page-header h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 6em;
    text-align:center;
}
.page-header h2 {
    margin: -0.5em;
    font-family: 'Grand Hotel', cursive;
    font-size: 6em;
    text-align:center;
}
.page-header h3 {
    margin-top: 2.2em;
    font-family: 'Grand Hotel', cursive;
    font-size: 6em;
    text-align:center;
}
.container { width: 90%; }
