<!doctype html>
<html>
<head>
<title>Gayane + Pierre-Luc</title>
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/lightbox.css">

</head>
<body class="gallery">
   <div class="container">
        <div class="page-header gallery-header">
            <h1>Gayane et Pierre-Luc <small>13 juin 2015</small> </h1>
        </div>
        {% for row in imgpaths|batch(4) %}
           <div class="row">
           {% for imgpath in row %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ imgpath[1] }}" class="thumbnail" data-lightbox="photobooth"><img src="{{ imgpath[0] }}"></a>
            </div>
           {% endfor %}
           </div>
        {% endfor %}
  </div>
<script src="static/js/jquery-1.11.0.min.js"></script>
<script src="static/js/lightbox.min.js"></script>
</body>
</html>
